html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/* grid + flexbox */
.grid {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 70px auto 100px;
    grid-template-areas: 
    "hlavicka prazdno"
    "krizovatka ovladani-nadpis"
    "krizovatka ovladani"
    "paticka paticka";
}

.hlavicka {
    grid-area: hlavicka;
    display: flex;
}

.prazdno {
    grid-area: prazdno;
}

.ovladani-nadpis {
    grid-area: ovladani-nadpis;
}

.krizovatka {
    grid-area: krizovatka;
    position: relative;
}

.ovladani {
    grid-area: ovladani;
}

.paticka{
    grid-area: paticka;
}
/* ------------------------------------- */
/* pozicovani semaforu */
img:not(.krizovatka-grafika, .logo) {
    position: absolute;
}

.semafor-img {
    width: calc(15 / 297 * 100%);
}

.semafor-chodci-img {
    width: calc(20 / 297 * 100%);
}

#r1, #z1 {
    top: calc(82.7 / 210 * 100%);
    left: calc(180.7 / 297 * 100%);
}

#r2, #z2 {
    top: calc(40 / 210 * 100%);
    left: calc(106.5 / 297 * 100%);
}

#r3, #z3 {
    top: calc(40 / 210 * 100%);
    left: calc(81.5 / 297 * 100%);
}

#r4, #z4 {
    top: calc(111 / 210 * 100%);
    left: calc(55 / 297 * 100%);
}

#r5, #z5 {
    top: calc(150.5 / 210 * 100%);
    left: calc(131.5 / 297 * 100%);
}

#r6, #z6 {
    top: calc(150.5 / 210 * 100%);
    left: calc(156 / 297 * 100%);
}

#r7, #z7 {
    top: calc(109.7 / 210 * 100%);
    left: calc(246 / 297 * 100%);
}

#r8, #z8 {
    top: calc(84.5 / 210 * 100%);
    left: calc(262.4 / 297 * 100%);
}

#r1-1, #z1-1 {
    top: calc(66 / 210 * 100%);
    left: calc(175 / 297 * 100%);
}

#r4-1, #z4-1 {
    top: calc(127.4 / 210 * 100%);
    left: calc(61 / 297 * 100%);
}

#chodci-r1, #chodci-z1 {
    top: calc(98 / 210 * 100%);
    left: calc(24.4 / 297 * 100%);
}

#chodci-r2, #chodci-z2 {
    top: calc(98 / 210 * 100%);
    left: calc(206 / 297 * 100%);
}


/* ------------------------------------- */
body {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: rgb(41, 83, 114);
    margin: 30px 50px 0px 50px;
}

.ovladani-nadpis > h2 {
    border-bottom: 2px solid rgba(245, 245, 245, 0.493);
    margin-top: 8px;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.krizovatka-grafika {
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-right: 20px;
    width: 60px;
}

.ovladani-button {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 4px;
    margin: 2px;
    border: 1px solid rgb(41, 48, 77);
    border-radius: 3px;
}

